/* ==========================================================================
Smarty blocks
========================================================================== */


@media (max-width: 480px) {

  .top-menu-grid {
    padding-top: 15px;
  }

  .top-cart-content {

      width: 100%;

      margin: 0px 0px;
      margin-top: 15px;
      
      .ty-dropdown-box {
        text-align: center;
      }

      .ty-block {
        text-align: left;
      }
  }

}

@media (min-width: 480px) and (max-width: 667px){

  .span8.search-block-grid {
    width: 60%;
    float: left;
  }

  .top-search {
    margin-right: 2%;
  }

  .span8.cart-content-grid {
    width: 39%;
    float: left;
  }

  .top-cart-content {
    float: left; 
    margin: 0px 0px;
  }

  .top-menu-grid {
    padding-top: 20px;
  }
}

@media (min-width: 667px) and (max-width: 767px){

  .top-menu-grid {
    padding-top: 20px;
  }

  .span8.search-block-grid {
    width: 70%;
    float: left;
  }

  .top-search {
    margin-right: 2%;
  }

  .span8.cart-content-grid {
    width: 29%;
    float: left;
  }
  
  .top-cart-content {
    float: left; 
    margin: 0px 0px;
  }

}



// =========================================================== Social links

.ty-social-link {
  vertical-align: middle;

  [class*="ty-icon-moon-"] {
    margin-right: 8px;
    padding: 5px;
    border: 2px solid #ffffff;
    border-radius: 50%;
    font-size: 18px;

    &:hover {
      color: #ffffff;
      border-color: @subscribe_button;
      background: darken(@subscribe_button, 15%);
    }
  }

  .ty-icon-moon-vk {
    padding: 8px;
    font-size: 12px;
  }

  &:last-child {
    i {
      margin-right: 0;
    }
  }
}

.ty-social-link-block {
  margin: 22px 15px 0 0;

  @media screen and (max-width: 1120px) {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 22px;
    text-align: center;
  }
}

h3.ty-social-link__title {
  font-size: 16px !important;
  font-family: @headings_font;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 38px;

  @media screen and (max-width: 979px) {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
  }
}

@media screen and (max-width: 767px){
  h3.ty-social-link__title{
    margin-top: 0;
  }
}

.ty-social-link {
  top: 0;
  margin-right: 0;
}

// ========================================================= Call requests

.ty-cr-content-grid {
  width: 100%;
  margin-top: 3px;
  .clearfix();
}

.ty-cr-phone-number-link {
  padding: 0 110px 0 0;
  margin: 0;
  max-width: 170px;
  text-align: left;

  * {
    font-family: Arial;
  }

  @media screen and (max-width: 767px) {
    margin: 0 auto 15px;
    max-width: 100%;
    padding: 0;
  }

  .ty-cr-link {
    float: left;
    width: 150px;
    margin-top: 6px;
    margin-right: -110px;

    @media screen and (max-width: 767px){
      float: none;
      width: 100%;
      margin-right: 0;
    }
  }

  .ty-cr-phone {
    font-size: 19px;
  }

  .ty-cr-phone-prefix {
    font-weight: bold;
  }

  .ty-cr-work {
    margin-left: 5px;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    vertical-align: top;
  }

  .ty-cr-work-hours {
    padding-top: 4px;
    font-size: 11px;
    color: lighten(@font, 30%);
  }
}

@media (max-width: 1100px) {
  .ty-cr-phone-number-link span.ty-cr-work {
    font-size: 10px;
    margin-left: 0px;
  }
}

@media (max-width: 767px) {
  .ty-cr-content-grid .ty-cr-phone-number-link {
    float: none;
    margin: 0 0 20px 0;
    text-align: center;
  }
}

@media (min-width: 768px) and (max-width: 820px) {

  .ty-cr-content-grid {
    margin-top: 0px;
  }

  .ty-cr-phone-number-link span.ty-cr-work {
    display: block;
  }

  .ty-cr-phone-number-link .ty-cr-link {
    margin-top: -2px;
  }

}

// ========================================================= HTML-pages

.ty-wysiwyg-content {
  h1 {
    &.ty-main-title {
      margin-top: 10px;
      padding-bottom: 10px;
      font-size: 36px;
      text-transform: uppercase;
      line-height: 155%;
      font-weight: normal;
    }

    &.ty-main-title2 {
      margin-top: 45px;
      font-weight: normal;
      font-size: 37px;
    }

    @media (max-width: 767px) {
      &.ty-main-title2,
      &.ty-main-title {
        font-size: 24px;
      }
    }

  }

  h3 {
    &.ty-main-title2 {
      margin: 78px 0 32px;
      font-size: 22px;
      font-weight: normal;
    }
  }
}

.ty-list-container, .ty-items-container {
  margin: 20px 0;
  line-height: 140%;

  &.ty-decimal {
    .ty-list-text {
      padding-left: 40px;
    }

    .ty-list-item {
      position: absolute;
      margin-top: 7px;
      margin-left: -40px;
      font-size: 60px;
      color: #00ccff;
    }
  }
}

.ty-list-container {
  .ty-column4 {
    .ty-company__item, .ty-gift-certificate__item {
      padding-right: 10%;

      @media (max-width: 478px) {
        padding-right: 0;
      }
    }

    .ty-delivery__item {
      padding-right: 20%;

      @media (max-width: 979px) {
        padding-right: 0;
      }
    }
  }

  .ty-column5 {
    .ty-delivery__item, .ty-refund__item {
      padding-right: 10%;

      @media (max-width: 478px) {
        padding-right: 0;
      }
    }
  }

  .ty-company__item {
    padding-right: 10%;
  }


  .ty-list-image {
    margin: 17px 0;
    text-align: center;

    &.ty-left {
      text-align: left;
    }

    &.ty-right {
      text-align: right;
    }
  }

  .ty-list-text {
    padding-top: 8px;
    font-family: Arial;
    font-size: 12px;
    line-height: 150%;

    &.big {
      font-size: 16px;
    }

    .ty-header {
      display: block;
      font-size: 21px;

      .ty-big {
        font-size: 218%;
        font-weight: bold;
        line-height: normal;
      }
    }
  }

  &.with-shadow {
    .ty-list-image {
      padding: 10px;
      margin-bottom: 14px;
      .box-shadow (0px 0px 5px 0px rgba(0, 0, 0, 0.3));
    }

    .ty-list-text {
      padding-top: 0;
      margin-bottom: 27px;
    }
  }

  .ty-list-header {
    display: block;
    padding-bottom: 6px;
    font-size: 22px;
    line-height: normal;
  }
}

.ty-items-container {
  .item {
    padding-right: 4%;
  }

  @media screen and (max-width: 480px) {
    text-align: center;

    .item {
      padding-right: 0;
    }
  }
}

.ty-column3-1 {
  display: inline-block;
  width: 20%;
  vertical-align: top;
  margin-right: -0.25em;

  @media (max-width: 768px) {
    width: 100%;
  }
}

.ty-column3-2 {
  display: inline-block;
  width: 60%;
  vertical-align: top;
  margin-right: -0.25em;

  @media (max-width: 768px) {
    width: 100%;
  }
}

.ty-about-container {
  padding-top: 18px;
  padding-right: 14px;
  padding-bottom: 29px;
  padding-left: 14px;
  background: @sidebar;
  .box-shadow (2px 3px 5px 0px rgba(0, 0, 0, 0.43));

  .ty-about-content {
    &.ty-about-refund__content {
      font-size: 120%;

      * {
        font-size: 100%;
      }
    }

    p {
      padding: 4px 0;
    }

    h1 {
      margin-top: 0;
      margin-bottom: 26px;
    }
  }

  .ty-about-banner {
    float: left;
    margin: -11px 0 0 -15px;

    @media screen and (max-width: 480px) {
      display: none;
    }
  }

  .ty-about-description {
    overflow: hidden;
  }
}

.ty-promo-container {
  padding: 2px;
  background: @promo_container_bg_color;

  &.ty-yellow {
    margin: 34px 0 101px;
    background: @promo_container_bg_color__secondary;

    .ty-about-content {
      padding: 13px 0;
    }

    .ty-about-banner {
      padding: 8px 0;
      margin-right: 2px;
      width: 14%;
      float: left;
      text-align: center;
    }

    .ty-about-description {
      padding: 4px 0 3px;
      overflow: hidden;

      &, * {
       color: #000000;
      }

      p {
        padding: 4px 0 3px;
        font-size: 18px;
        line-height: 100%;

        &.header {
          padding-bottom: 4px;
          font-size: 26px;
        }

        &.subheader {
          font-size: 16px;
        }
      }

      h2 {
        margin: 4px 0 5px;
      }
    }
  }

  .ty-column2 {
    @media (max-width: 979px) {
      width: 100%;
    }
  }

  .ty-promo-image {
    padding: 15px;
    background: #ffffff;
    .box-shadow (0px 0px 3px 0px rgba(0, 0, 0, 0.3));

    @media (max-width: 979px) {
      & {
        text-align: center;
      }
    }
  }

  .ty-promo-description {
    padding: 35px 10%;

    p {
      padding: 18px 0 15px;
      font-size: 36px;
      line-height: 125%;
      color: #ffffff;

      @media (max-width: 600px) {
        font-size: 30px;
        line-height: 115%;
      }

      @media (max-width: 500px) {
        font-size: 24px;
        line-height: 105%;
      }
    }
  }
}

.ty-buttons-container.ty-main-buttons {
  margin: 46px 0;

  .ty-btn {
    font-size: 19px;
    padding: 18px 41px;
    font-family: Arial;
  }
}

// ========================================================= Scroller advanced

.owl-carousel.ty-scroller-list.grid-list {
  padding: 0;
  border-width: 0;
  background: none transparent;
  .border-radius(0);

  .owl-wrapper-outer {
    background: none transparent;
  }
}

.owl-theme {
  margin: 0 0 10px 0;

  .owl-wrapper-outer {
    padding: 10px 0;
  }

  .owl-controls {
    margin-top: 0;
  }

  .ty-scroller-list__item.ty-column4 {
    display: block;
    width: auto;
  }

  .ty-grid-list__item {
    .owl-controls {
      height: 0;

      .owl-buttons {
        height: 0;

        div {
          padding: 0;
          margin: 0;
          color: @font;
          filter: alpha(opacity=100);
          opacity: 1;
          background: none;
        }

        .owl-prev:after, .owl-next:before {
          display: none;
        }
      }
    }
  }
}

.ty-grid-list__item {
  .owl-wrapper-outer {
    padding: 0;
  }
}

.homepage-banners {
  .owl-theme {
    .owl-wrapper-outer {
      padding: 0;
    }
  }
}

.mainbox-container {
  .owl-theme {
    margin-top: -10px;
  }
}

.ty-grid-list__item-name {
  max-width: 57%;
}

.ty-scroller-advanced .ty-grid-list__item {
  margin: 0px 10px 1px 10px;
}

.ty-scroller-advanced .ty-scroller-list__item:hover .ty-quick-view-button {
  text-align: left;
}

.ty-scroller-advanced .ty-scroller-list__item {
  padding-top: 0px;
}

.ty-scroller-advanced .owl-wrapper-outer {
  padding-top: 0px;
}

// ======================================== Newsletter subscription form (advanced)

.ty-footer-form-block {
  margin-top: 14px;
  margin-bottom: 19px;
}

@media screen and (max-width: 1120px){
  .footer-stay-connected {
    .ty-grid {
      width: 100%;
      margin-left: 0;

      .ty-float-left {
        float: none;
      }
    }
  }
}

form[name="subscribe_form"] {
  .ty-footer-form-block__form {
    width: auto;
    display: inline-block;
    vertical-align: top;

    h1, h2, h3, h4, h5, h6 {
      margin: 0;
    }

    .ty-block {
      font-size: @body_font_size - 1;
      line-height: 120%;
      text-transform: none;
    }

    h3 {
      font-size: 16px;
      font-family: @body_font;
      line-height: normal;

      .ty-block {
        margin-top: 5px;
        font-weight: normal;
      }
    }

    &.with-side {
      position: relative;
      padding-left: @with_side_icon_font_size + 19;
      padding-right: 2%;
      width: 36.5%;
      text-align: left !important;

      i {
        position: absolute;
        left: 0;
        top: 0;
        font-size: @with_side_icon_font_size;
      }

      @media screen and (max-width: 960px){
        display: block;
        margin-right: auto !important;
        margin-left: auto !important;
        padding-right: 0;
      }

      @media screen and (max-width: 700px){
        width: 70%;
      }
    }

    + .ty-footer-form-block__form {
      width: 53.5%;

      @media screen and (max-width: 960px){
        display: block;
        margin-right: auto !important;
        margin-left: auto !important;
        width: 53.5%;
      }

      @media screen and (max-width: 766px){
        width: 85%;
      }

      @media screen and (max-width: 600px){
        width: 100%;
      }
    }

    input {
        height: 36px;
        width: 100%;
        color: @font;
        font-size: 12px;

        .cm-hint {
          color: spin(desaturate(lighten(@font, 32%), 21%), -211);
        }
    }

    > div {
      vertical-align: top;
      display: inline-block;
    }

    .ty-footer-form-block__input {
      margin-top: 10px;
      width: 60%;
    }

    .ty-footer-form-block__button {
      margin-top: 10px;
    }

    .ty-btn {
      padding: @subscribe_button_padding;
      font-size: @subscribe_button_size;
      text-transform: uppercase;
      line-height: 140%;
    }
  }
}

.ty-btn__subscribe {
  background: @subscribe_button;
  color: #fff;
}
.ty-btn__subscribe:hover {
  background: lighten(@subscribe_button, 6%);
  color: #fff;
}
.ty-btn__subscribe.ty-btn__text {
  color: @subscribe_button;
}

.ty-footer-form-block__title{
  display: none;
}

// ============================================================== News

.ty-news-text-links {
  padding-left: 12px;
  margin: 30px 0 29px;
}

.ty-news-text-links__item {
  margin-bottom: 16px;
}

.ty-news-text-links__date {
  padding: 0px 1px;
  margin-right: 5px;
}

.ty-news-text-links__a {
  padding-top: 1px;
}

// ======================================================== Discussion

.ty-discussion-post__content {
  margin-top: 18px;
}

.ty-discussion-post__author {
  margin-left: 0;
}

.ty-discussion-post__author, .ty-discussion-post__date, .ty-discussion-post__message {
  margin-left: 0;
}

.homepage-reviews {
  .ty-discussion-post {
    margin: 22px 0 26px 0;
  }
}

.ty-discussion-post {
  padding: 12px 15px 17px;
}

.ty-caret {
  left: 20px;
}


// ====================================================== Footer menus

@media screen and (min-width: 767px) {
  .ty-footer-menu {
    padding-top: 20px;
  }
}

.tygh-footer {
  .ty-mainbox-title{
    font-size: 16px;
    padding: 6px 0;
    margin: 0;
  }

  .ty-mainbox-body{
    .ty-text-links{
      margin-top: 10px;
    }

    .ty-text-links__item{
      padding: 2px 0;
      margin: 0 0 8px;
      line-height: 1.4;

      a{
        color: @footer_text;
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  .ty-footer-menu__items {
    display: block !important;
  }
}

// ============================================================== Variables

@promo_container_bg_color: #00afff;
@promo_container_bg_color__secondary: #ffe400;
@with_side_icon_font_size: 36px;
@subscribe_button_size: 16px;
@subscribe_button_padding: 6px 15px;
@subscribe_button: @secondary_button;

// ========================================================= Payments icons

.ty-payment-icons {
  margin: 6px 0;
}

.ty-payment-icons__item {
  background: url('../../media/images/icons/russian_payments.png') no-repeat;

  &.webmoney {
    background-position: 0px -67px;
    width: 86px;
  }

  &.yandex {
    background-position: 0px -128px;
    width: 60px;
  }

  &.qiwi {
    background-position: 0px -97px;
    width: 84px;
  }

  &.mastercard {
    background-position: 0px -35px;
    width: 40px;
  }

  &.visa {
    background-position: 0px 0px;
    width: 40px;
  }

  &.paypal {
    background-position: 0px -160px;
  }
}
